In [13]:
import pandas as pd
import quandl as qd
import numpy as np
import html5lib 
import bs4
import pickle

In [2]:
api_key = open("api_key_quandl.txt", "r").read()
df1 = qd.get("FMAC/HPI_ALBOR", authtoken = api_key)
df1.head(10)

                Value
Date
1975-01-31  19.874592
1975-02-28  20.436467
1975-03-31  20.978854
1975-04-30  21.486776
1975-05-31  21.992207
1975-06-30  22.506271
1975-07-31  22.979011
1975-08-31  23.361365
1975-09-30  23.645515
1975-10-31  23.856223

In [3]:
import html5lib 
fiddy_states = pd.read_html("https://simple.wikipedia.org/wiki/List_of_U.S._states")
fiddy_states

[         0             1               2               3                  4
 0   Sl no.  Abbreviation      State Name         Capital     Became a State
 1        1            AL         Alabama      Montgomery  December 14, 1819
 2        2            AK          Alaska          Juneau    January 3, 1959
 3        3            AZ         Arizona         Phoenix  February 14, 1912
 4        4            AR        Arkansas     Little Rock      June 15, 1836
 5        5            CA      California      Sacramento  September 9, 1850
 6        6            CO        Colorado          Denver     August 1, 1876
 7        7            CT     Connecticut        Hartford    January 9, 1788
 8        8            DE        Delaware           Dover   December 7, 1787
 9        9            FL         Florida     Tallahassee      March 3, 1845
 10      10            GA         Georgia         Atlanta    January 2, 1788
 11      11            HI          Hawaii        Honolulu    August 21, 1959
 12      12            ID           Idaho           Boise       July 3, 1890
 13      13            IL        Illinois     Springfield   December 3, 1818
 14      14            IN         Indiana    Indianapolis  December 11, 1816
 15      15            IA            Iowa      Des Moines  December 28, 1846
 16      16            KS          Kansas          Topeka   January 29, 1861
 17      17            KY        Kentucky       Frankfort       June 1, 1792
 18      18            LA       Louisiana     Baton Rouge     April 30, 1812
 19      19            ME           Maine         Augusta     March 15, 1820
 20      20            MD        Maryland       Annapolis     April 28, 1788
 21      21            MA   Massachusetts          Boston   February 6, 1788
 22      22            MI        Michigan         Lansing   January 26, 1837
 23      23            MN       Minnesota      Saint Paul       May 11, 1858
 24      24            MS     Mississippi         Jackson  December 10, 1817
 25      25            MO        Missouri  Jefferson City    August 10, 1821
 26      26            MT         Montana          Helena   November 8, 1889
 27      27            NE        Nebraska         Lincoln      March 1, 1867
 28      28            NV          Nevada     Carson City   October 31, 1864
 29      29            NH   New Hampshire         Concord      June 21, 1788
 30      30            NJ      New Jersey         Trenton  December 18, 1787
 31      31            NM      New Mexico        Santa Fe    January 6, 1912
 32      32            NY        New York          Albany      July 26, 1788
 33      33            NC  North Carolina         Raleigh  November 21, 1789
 34      34            ND    North Dakota        Bismarck   November 2, 1889
 35      35            OH            Ohio        Columbus      March 1, 1803
 36      36            OK        Oklahoma   Oklahoma City  November 16, 1907
 37      37            OR          Oregon           Salem  February 14, 1859
 38      38            PA    Pennsylvania      Harrisburg  December 12, 1787
 39      39            RI    Rhode Island      Providence       May 19, 1790
 40      40            SC  South Carolina        Columbia       May 23, 1788
 41      41            SD    South Dakota          Pierre   November 2, 1889
 42      42            TN       Tennessee       Nashville       June 1, 1796
 43      43            TX           Texas          Austin  December 29, 1845
 44      44            UT            Utah  Salt Lake City    January 4, 1896
 45      45            VT         Vermont      Montpelier      March 4, 1791
 46      46            VA        Virginia        Richmond      June 25, 1788
 47      47            WA      Washington         Olympia  November 11, 1889
 48      48            WV   West Virginia      Charleston      June 20, 1863
 49      49            WI       Wisconsin         Madison       May 29, 1848
 50      50            WY         Wyoming        Cheyenne      July 10, 1890,
                                              0  \
 0  vtePolitical divisions of the United States
 1                                       States
 2                             Federal district
 3                                Insular areas
 4                             Outlying islands

                                                    1
 0                                                NaN
 1  Alabama Alaska Arizona Arkansas California Col...
 2                                   Washington, D.C.
 3  American Samoa Guam Northern Mariana Islands P...
 4  Baker Island Howland Island Jarvis Island John...  ]

In [4]:
fiddy_states[0]

         0             1               2               3                  4
0   Sl no.  Abbreviation      State Name         Capital     Became a State
1        1            AL         Alabama      Montgomery  December 14, 1819
2        2            AK          Alaska          Juneau    January 3, 1959
3        3            AZ         Arizona         Phoenix  February 14, 1912
4        4            AR        Arkansas     Little Rock      June 15, 1836
5        5            CA      California      Sacramento  September 9, 1850
6        6            CO        Colorado          Denver     August 1, 1876
7        7            CT     Connecticut        Hartford    January 9, 1788
8        8            DE        Delaware           Dover   December 7, 1787
9        9            FL         Florida     Tallahassee      March 3, 1845
10      10            GA         Georgia         Atlanta    January 2, 1788
11      11            HI          Hawaii        Honolulu    August 21, 1959
12      12            ID           Idaho           Boise       July 3, 1890
13      13            IL        Illinois     Springfield   December 3, 1818
14      14            IN         Indiana    Indianapolis  December 11, 1816
15      15            IA            Iowa      Des Moines  December 28, 1846
16      16            KS          Kansas          Topeka   January 29, 1861
17      17            KY        Kentucky       Frankfort       June 1, 1792
18      18            LA       Louisiana     Baton Rouge     April 30, 1812
19      19            ME           Maine         Augusta     March 15, 1820
20      20            MD        Maryland       Annapolis     April 28, 1788
21      21            MA   Massachusetts          Boston   February 6, 1788
22      22            MI        Michigan         Lansing   January 26, 1837
23      23            MN       Minnesota      Saint Paul       May 11, 1858
24      24            MS     Mississippi         Jackson  December 10, 1817
25      25            MO        Missouri  Jefferson City    August 10, 1821
26      26            MT         Montana          Helena   November 8, 1889
27      27            NE        Nebraska         Lincoln      March 1, 1867
28      28            NV          Nevada     Carson City   October 31, 1864
29      29            NH   New Hampshire         Concord      June 21, 1788
30      30            NJ      New Jersey         Trenton  December 18, 1787
31      31            NM      New Mexico        Santa Fe    January 6, 1912
32      32            NY        New York          Albany      July 26, 1788
33      33            NC  North Carolina         Raleigh  November 21, 1789
34      34            ND    North Dakota        Bismarck   November 2, 1889
35      35            OH            Ohio        Columbus      March 1, 1803
36      36            OK        Oklahoma   Oklahoma City  November 16, 1907
37      37            OR          Oregon           Salem  February 14, 1859
38      38            PA    Pennsylvania      Harrisburg  December 12, 1787
39      39            RI    Rhode Island      Providence       May 19, 1790
40      40            SC  South Carolina        Columbia       May 23, 1788
41      41            SD    South Dakota          Pierre   November 2, 1889
42      42            TN       Tennessee       Nashville       June 1, 1796
43      43            TX           Texas          Austin  December 29, 1845
44      44            UT            Utah  Salt Lake City    January 4, 1896
45      45            VT         Vermont      Montpelier      March 4, 1791
46      46            VA        Virginia        Richmond      June 25, 1788
47      47            WA      Washington         Olympia  November 11, 1889
48      48            WV   West Virginia      Charleston      June 20, 1863
49      49            WI       Wisconsin         Madison       May 29, 1848
50      50            WY         Wyoming        Cheyenne      July 10, 1890

In [15]:
np_fiddy_states = np.array(fiddy_states[0]) 
np_fiddy_states[1:,1]
def state_list():
    fiddy_states = pd.read_html("https://simple.wikipedia.org/wiki/List_of_U.S._states")
    np_fiddy_states = np.array(fiddy_states[0]) 
    return np_fiddy_states[1:,1]

In [23]:
def grab_initial_state_data():
    main_df = pd.DataFrame()
    for abv in state_list():
        query = "FMAC/HPI_" + abv
        df = qd.get(query, authtoken = api_key)
        df.rename(columns = {"Value":abv}, inplace = True)
        if main_df.empty:
            main_df = df
        else:
            main_df = main_df.join(df)
#             print(main_df)
    pickle_out = open("fiddy_states.pickle", "wb")
    pickle.dump(main_df, pickle_out)
    pickle_out.close()
grab_initial_state_data()

In [25]:
pickle_in = open('fiddy_states.pickle', 'rb')
HPI_data = pickle.load(pickle_in)
print(HPI_data)

                    AL          AK          AZ          AR          CA  \
Date
1975-01-31   35.695975   34.371830   28.937735   36.738861   15.722312
1975-02-28   35.896770   34.880945   29.463708   37.098962   15.775202
1975-03-31   36.133518   35.402217   29.959514   37.416398   15.964942
1975-04-30   36.425723   35.944703   30.345148   37.677813   16.275547
1975-05-31   36.695708   36.535272   30.546449   37.921099   16.533017
1975-06-30   36.823713   37.165797   30.496614   38.159640   16.646799
1975-07-31   36.747060   37.795450   30.173822   38.351084   16.768340
1975-08-31   36.511773   38.369702   29.662525   38.450073   16.989530
1975-09-30   36.255136   38.870586   29.128419   38.428010   17.230749
1975-10-31   36.139294   39.326955   28.828753   38.355341   17.447896
1975-11-30   36.247464   39.737259   28.941164   38.377787   17.596355
1975-12-31   36.592162   40.082874   29.318046   38.535310   17.725346
1976-01-31   37.138285   40.363154   29.704143   38.782622   17.908764
1976-02-29   37.756437   40.596136   29.996550   39.126083   18.117587
1976-03-31   38.276319   40.805885   30.171495   39.571310   18.379530
1976-04-30   38.596135   41.002975   30.239323   40.057999   18.673067
1976-05-31   38.740517   41.187715   30.235996   40.468693   18.899995
1976-06-30   38.797231   41.362367   30.205174   40.762886   19.131690
1976-07-31   38.856955   41.521685   30.199231   41.018576   19.429194
1976-08-31   38.918701   41.662983   30.238988   41.303581   19.725256
1976-09-30   38.958368   41.845067   30.305538   41.558711   20.001803
1976-10-31   39.018758   42.124701   30.458042   41.720393   20.297347
1976-11-30   39.159408   42.492789   30.688605   41.846132   20.656530
1976-12-31   39.316048   42.921262   30.870150   42.020453   21.011057
1977-01-31   39.393664   43.365812   30.977525   42.303965   21.378726
1977-02-28   39.416713   43.773119   31.098465   42.695391   21.859477
1977-03-31   39.450967   44.099249   31.332174   43.108400   22.440876
1977-04-30   39.609241   44.345888   31.624298   43.438706   23.016523
1977-05-31   39.921331   44.556381   31.875612   43.667636   23.612290
1977-06-30   40.340456   44.760697   32.192705   43.885294   24.210287
...                ...         ...         ...         ...         ...
2015-07-31  127.854262  175.091653  157.944488  133.701718  190.488116
2015-08-31  127.845969  175.514286  158.758281  134.312771  191.250750
2015-09-30  127.319078  175.476030  159.633744  134.697294  191.635366
2015-10-31  126.705007  175.123473  160.190802  134.645622  191.997776
2015-11-30  126.273111  174.850517  160.333155  134.201039  192.581842
2015-12-31  126.028940  174.694000  160.429528  133.595655  193.126772
2016-01-31  126.252948  174.563606  160.943495  133.108462  193.573002
2016-02-29  127.029795  174.653159  162.382325  133.131020  195.374776
2016-03-31  128.128436  175.146222  164.423535  133.875006  198.379875
2016-04-30  129.498282  176.039416  166.160234  135.042534  200.552706
2016-05-31  130.839220  177.015628  167.102940  136.229099  202.154601
2016-06-30  131.902611  177.488884  167.772063  137.253244  203.725125
2016-07-31  132.731896  177.187857  168.729972  137.861877  204.874817
2016-08-31  133.123014  176.366964  169.836520  137.962164  205.424770
2016-09-30  132.944681  175.461582  171.040902  137.792087  205.505700
2016-10-31  132.231221  174.851708  172.308486  137.488042  205.758167
2016-11-30  131.451951  174.614858  173.128501  137.319895  206.246715
2016-12-31  131.060867  174.607365  173.638863  137.493642  207.234460
2017-01-31  131.261240  174.851825  174.405886  137.827229  208.473088
2017-02-28  132.227038  175.522695  175.428697  138.329438  209.967934
2017-03-31  133.824067  176.550880  177.064431  139.192445  212.230372
2017-04-30  135.561296  177.793645  179.220426  140.314621  214.901573
2017-05-31  136.832165  178.999869  180.921174  141.510839  217.387092
2017-06-30  137.306662  179.910454  182.145258  142.714169  219.143801
2017-07-31  137.053164  180.471912  183.518737  143.620062  220.488530
2017-08-31  136.832464  180.767705  184.653324  143.883305  221.827303
2017-09-30  137.182469  180.863076  185.082101  143.810889  222.747758
2017-10-31  137.690921  180.642452  185.386919  143.815618  223.013716
2017-11-30  137.905915  180.191092  185.808730  143.715639  223.476329
2017-12-31  138.465286  180.140002  185.932453  143.535720  224.416791

                    CO          CT          DE          FL          GA  \
Date
1975-01-31   19.603977   24.369431   27.264842   30.997043   30.720917
1975-02-28   19.837138   24.908036   27.250734   32.229049   30.450593
1975-03-31   20.073483   25.313556   27.268478   34.027506   30.338265
1975-04-30   20.301864   25.541141   27.362673   36.218077   30.401314
1975-05-31   20.495075   25.614056   27.561893   36.437855   30.511355
1975-06-30   20.657610   25.593715   27.817379   34.782271   30.543940
1975-07-31   20.767493   25.562141   28.054119   33.559446   30.441559
1975-08-31   20.766267   25.561580   28.260091   33.003501   30.197666
1975-09-30   20.693247   25.603379   28.435083   32.874239   29.856041
1975-10-31   20.677437   25.692004   28.555244   32.987685   29.578801
1975-11-30   20.813599   25.869720   28.633600   33.226950   29.492202
1975-12-31   21.044355   26.106416   28.693510   33.389483   29.544696
1976-01-31   21.261114   26.322159   28.724852   33.380928   29.631292
1976-02-29   21.441256   26.475488   28.728540   33.404365   29.652625
1976-03-31   21.622061   26.567976   28.738149   33.940910   29.613906
1976-04-30   21.794533   26.638448   28.804320   35.152678   29.645420
1976-05-31   21.916109   26.726320   28.901931   35.469750   29.843175
1976-06-30   21.990101   26.872599   28.960602   34.602640   30.244098
1976-07-31   22.016767   27.077422   28.970655   34.002097   30.693745
1976-08-31   22.004561   27.236233   28.954171   33.893909   30.930348
1976-09-30   22.018000   27.294271   28.937931   34.010770   30.981477
1976-10-31   22.153648   27.346562   28.964190   34.129382   30.941422
1976-11-30   22.423172   27.384624   29.066797   34.202741   30.857225
1976-12-31   22.708559   27.324945   29.238302   34.057553   30.799051
1977-01-31   22.918908   27.234680   29.450361   33.562766   30.771985
1977-02-28   23.086883   27.207404   29.658821   32.868590   30.797931
1977-03-31   23.276302   27.297209   29.804030   32.992444   30.892610
1977-04-30   23.543649   27.605750   29.857762   34.760749   31.053601
1977-05-31   23.888232   28.101364   29.844638   35.967863   31.256062
1977-06-30   24.298073   28.641820   29.827604   35.507634   31.478734
...                ...         ...         ...         ...         ...
2015-07-31  156.409992  135.003216  151.879340  167.958473  123.334412
2015-08-31  156.823919  134.433330  151.825737  168.875805  123.576957
2015-09-30  156.960951  133.064906  151.956067  169.671476  123.857584
2015-10-31  157.103220  131.897223  152.414383  170.808945  124.119647
2015-11-30  157.024314  131.120324  153.091084  171.717982  124.186608
2015-12-31  157.329343  130.345378  153.587838  172.050554  124.304994
2016-01-31  158.668421  129.683540  153.780240  172.428224  124.642233
2016-02-29  160.916346  129.538163  153.835557  174.112903  125.355796
2016-03-31  163.810481  130.112376  154.034479  176.969746  126.787101
2016-04-30  166.832490  131.405100  154.482470  179.363828  128.916620
2016-05-31  169.503361  132.898431  154.924846  181.309947  130.835452
2016-06-30  171.405941  134.098245  155.254697  183.323405  131.894756
2016-07-31  172.481655  134.594061  155.417296  184.907395  132.490103
2016-08-31  172.906428  134.110790  155.231724  186.173544  132.668826
2016-09-30  173.035250  133.369966  154.728534  187.215818  132.669262
2016-10-31  173.194400  132.883861  154.138625  188.100468  132.768537
2016-11-30  173.341407  132.447694  153.660290  188.758560  132.768834
2016-12-31  174.042987  131.913690  153.215859  189.530763  132.754164
2017-01-31  175.822978  131.398494  152.988293  190.903528  133.098544
2017-02-28  178.360284  131.231176  153.403252  192.678481  134.083068
2017-03-31  181.160905  132.052608  154.676956  194.565440  135.793693
2017-04-30  183.686078  133.996680  156.429166  196.582167  138.033221
2017-05-31  185.776128  136.263447  158.092000  198.300880  139.949020
2017-06-30  187.490550  138.088309  159.645509  199.604161  141.039669
2017-07-31  188.574935  138.958521  160.924917  201.176755  141.672367
2017-08-31  188.890036  138.899318  161.484105  203.032387  141.979189
2017-09-30  189.247183  138.345405  161.214510  204.479775  141.952248
2017-10-31  189.973594  137.688445  160.357290  204.961848  142.181977
2017-11-30  190.468198  137.029819  159.215701  205.148540  143.061589
2017-12-31  191.251430  136.368886  158.169789  205.362563  143.590543

               ...              SD          TN          TX          UT  \
Date           ...
1975-01-31     ...       37.722210   32.179633   32.602350   24.698474
1975-02-28     ...       37.319634   32.218599   32.944116   25.060977
1975-03-31     ...       36.908861   32.296539   33.542975   25.381341
1975-04-30     ...       36.498238   32.416385   34.402826   25.627200
1975-05-31     ...       36.121328   32.563209   34.649755   25.782334
1975-06-30     ...       35.832126   32.732091   34.214012   25.820787
1975-07-31     ...       35.638746   32.912254   33.926084   25.749555
1975-08-31     ...       35.492686   33.099345   33.892530   25.652102
1975-09-30     ...       35.369164   33.332385   33.975850   25.631074
1975-10-31     ...       35.284393   33.673101   34.088819   25.802722
1975-11-30     ...       35.261565   34.120824   34.297688   26.178201
1975-12-31     ...       35.324867   34.520063   34.495964   26.596479
1976-01-31     ...       35.492003   34.699256   34.624718   26.970218
1976-02-29     ...       35.767903   34.658689   34.927336   27.314136
1976-03-31     ...       36.123462   34.557665   35.656681   27.609005
1976-04-30     ...       36.502661   34.569333   36.676904   27.858088
1976-05-31     ...       36.868201   34.654483   36.983259   28.052347
1976-06-30     ...       37.204916   34.671962   36.591101   28.167646
1976-07-31     ...       37.533083   34.661585   36.396803   28.286503
1976-08-31     ...       37.861522   34.715717   36.393828   28.440029
1976-09-30     ...       38.135807   34.820331   36.488809   28.561118
1976-10-31     ...       38.287887   34.939022   36.707659   28.677329
1976-11-30     ...       38.318752   35.060959   37.017606   28.881028
1976-12-31     ...       38.314555   35.209322   37.236711   29.205069
1977-01-31     ...       38.344135   35.433821   37.416779   29.577173
1977-02-28     ...       38.423939   35.771078   37.856734   29.951472
1977-03-31     ...       38.583187   36.203085   38.898027   30.362969
1977-04-30     ...       38.894363   36.670053   40.557091   30.833450
1977-05-31     ...       39.389798   37.108822   40.866864   31.331385
1977-06-30     ...       40.018917   37.537473   39.888819   31.806755
...            ...             ...         ...         ...         ...
2015-07-31     ...      156.580991  140.961479  166.253040  156.041122
2015-08-31     ...      157.039570  141.301527  166.384353  156.625646
2015-09-30     ...      157.320522  141.576657  166.486297  157.212501
2015-10-31     ...      157.601910  141.746760  166.950363  157.717839
2015-11-30     ...      157.804789  141.677283  167.216055  157.944342
2015-12-31     ...      158.014749  141.510377  167.301727  158.211716
2016-01-31     ...      158.325092  141.670952  167.994033  158.958460
2016-02-29     ...      158.684388  142.396341  169.660774  160.090283
2016-03-31     ...      159.198842  143.769820  171.383514  161.744070
2016-04-30     ...      159.992976  145.695744  173.101986  164.133025
2016-05-31     ...      161.215593  147.451023  175.157348  166.372582
2016-06-30     ...      162.768436  148.550006  176.676004  167.867304
2016-07-31     ...      164.147277  149.537520  177.610891  169.110488
2016-08-31     ...      165.064913  150.670563  178.443113  170.034755
2016-09-30     ...      165.348522  151.360770  179.043491  170.376254
2016-10-31     ...      164.777196  151.417398  179.179408  170.180918
2016-11-30     ...      163.673404  151.303897  178.934777  169.756719
2016-12-31     ...      162.826566  151.182317  178.927591  169.753153
2017-01-31     ...      162.769223  151.523608  180.030701  170.849721
2017-02-28     ...      163.566040  152.868708  181.822975  173.144218
2017-03-31     ...      165.180850  154.718965  183.875660  175.942719
2017-04-30     ...      167.404215  156.586808  186.668802  178.605611
2017-05-31     ...      169.704215  158.409044  188.985902  181.052319
2017-06-30     ...      171.570740  159.925040  189.875120  183.239131
2017-07-31     ...      172.671778  161.096595  190.183635  184.835160
2017-08-31     ...      172.997028  162.163547  190.405956  185.766048
2017-09-30     ...      172.877960  163.121526  190.747517  186.219039
2017-10-31     ...      172.697389  163.791413  191.001095  186.565591
2017-11-30     ...      172.365548  164.122714  191.157777  186.978663
2017-12-31     ...      172.062393  164.386018  191.614575  187.437632

                    VT          VA          WA          WV          WI  \
Date
1975-01-31   26.637620   27.912640   17.484315   41.002072   28.096764
1975-02-28   26.956271   28.205810   17.571053   42.040473   28.486170
1975-03-31   27.264731   28.420407   17.689717   43.122486   28.860737
1975-04-30   27.546568   28.578762   17.818792   44.239196   29.185048
1975-05-31   27.794738   28.717611   17.933277   45.363222   29.443523
1975-06-30   28.015188   28.859132   18.060595   46.434891   29.643096
1975-07-31   28.197133   29.053840   18.204860   47.374534   29.808953
1975-08-31   28.318131   29.245755   18.291957   48.123276   29.965614
1975-09-30   28.381090   29.299723   18.295879   48.624442   30.169332
1975-10-31   28.404311   29.241360   18.311491   48.844944   30.400019
1975-11-30   28.399731   29.147034   18.445463   48.851988   30.553751
1975-12-31   28.372971   29.043642   18.666300   48.756207   30.611019
1976-01-31   28.327242   28.966076   18.891872   48.641612   30.625870
1976-02-29   28.272025   29.012613   19.118606   48.590975   30.629882
1976-03-31   28.237516   29.197571   19.333061   48.632972   30.663396
1976-04-30   28.268887   29.426252   19.527588   48.709444   30.788789
1976-05-31   28.382876   29.670671   19.751452   48.757706   31.001631
1976-06-30   28.570714   29.883049   20.056070   48.750044   31.193881
1976-07-31   28.815406   30.025206   20.447975   48.684755   31.333897
1976-08-31   29.086216   30.188124   20.796144   48.596508   31.492695
1976-09-30   29.347313   30.353002   20.994394   48.535679   31.692007
1976-10-31   29.571743   30.464587   21.120745   48.520561   31.897835
1976-11-30   29.755778   30.575026   21.295105   48.563328   32.149092
1976-12-31   29.911694   30.666617   21.500396   48.696642   32.482108
1977-01-31   30.049640   30.741686   21.646051   48.947753   32.861943
1977-02-28   30.177715   30.875290   21.807327   49.306321   33.308601
1977-03-31   30.318482   31.092374   22.130020   49.755469   33.821916
1977-04-30   30.496645   31.353535   22.641429   50.300220   34.312509
1977-05-31   30.725822   31.656135   23.197444   50.879888   34.777626
1977-06-30   31.002979   31.995997   23.696735   51.405000   35.343133
...                ...         ...         ...         ...         ...
2015-07-31  166.977351  175.208724  171.715507  144.940038  127.066321
2015-08-31  166.931306  175.083077  172.634348  144.340557  127.091520
2015-09-30  166.312589  174.884369  173.077689  143.497835  126.830511
2015-10-31  165.433637  174.388030  173.703553  142.625716  126.614993
2015-11-30  164.508913  173.529003  174.419560  141.792450  126.423261
2015-12-31  163.750879  172.555924  174.944608  141.010233  125.795952
2016-01-31  163.270760  172.194878  176.039599  140.404463  125.257043
2016-02-29  163.115976  173.258149  178.599589  140.214876  125.748576
2016-03-31  163.420328  175.437539  181.944029  140.693011  127.282817
2016-04-30  164.366377  177.717105  185.147288  141.852391  129.212290
2016-05-31  165.667628  179.676544  187.923243  143.390083  131.204000
2016-06-30  166.947542  180.908437  190.137496  144.741295  133.077226
2016-07-31  167.977267  181.090826  191.804171  145.476349  134.244672
2016-08-31  168.363823  180.813071  192.752498  145.769855  134.523127
2016-09-30  167.929266  180.433431  193.007928  145.952914  134.286457
2016-10-31  167.044459  180.074502  193.035534  145.993389  133.977893
2016-11-30  166.299580  179.498081  193.437720  145.866178  133.277474
2016-12-31  166.037177  178.733383  194.598870  145.503670  132.395394
2017-01-31  166.456375  178.490562  196.425188  145.020938  132.220787
2017-02-28  167.550095  179.564152  199.497031  144.798504  132.799496
2017-03-31  169.003479  182.178128  204.099284  145.104852  134.307044
2017-04-30  170.668489  185.142679  208.832183  145.852604  136.736984
2017-05-31  172.628029  187.218160  212.681252  146.651677  139.127902
2017-06-30  174.593408  188.194294  215.515155  147.210051  140.945374
2017-07-31  175.832939  188.568619  216.832218  147.406003  141.917765
2017-08-31  175.997419  188.244928  217.172701  147.276040  141.929765
2017-09-30  175.630815  187.473673  217.666449  147.000202  141.704092
2017-10-31  175.438235  186.848096  218.375552  146.961577  141.524015
2017-11-30  175.451073  186.309152  219.358413  147.220056  141.158985
2017-12-31  175.676196  185.522033  220.553276  147.220398  140.521333

                    WY
Date
1975-01-31   31.668794
1975-02-28   32.161920
1975-03-31   32.680525
1975-04-30   33.210124
1975-05-31   33.714128
1975-06-30   34.179561
1975-07-31   34.611141
1975-08-31   34.997927
1975-09-30   35.324392
1975-10-31   35.564002
1975-11-30   35.719948
1975-12-31   35.823018
1976-01-31   35.909297
1976-02-29   36.027093
1976-03-31   36.205274
1976-04-30   36.448181
1976-05-31   36.776850
1976-06-30   37.232642
1976-07-31   37.805035
1976-08-31   38.417253
1976-09-30   39.032822
1976-10-31   39.656983
1976-11-30   40.240418
1976-12-31   40.708418
1977-01-31   41.069726
1977-02-28   41.390569
1977-03-31   41.709548
1977-04-30   42.040222
1977-05-31   42.410106
1977-06-30   42.887022
...                ...
2015-07-31  187.178331
2015-08-31  187.544553
2015-09-30  187.008391
2015-10-31  185.978325
2015-11-30  184.724181
2015-12-31  183.614896
2016-01-31  183.051448
2016-02-29  183.203686
2016-03-31  184.028248
2016-04-30  185.243552
2016-05-31  186.365183
2016-06-30  187.224531
2016-07-31  187.908365
2016-08-31  188.408497
2016-09-30  188.456565
2016-10-31  187.794019
2016-11-30  186.762479
2016-12-31  185.998820
2017-01-31  185.888657
2017-02-28  186.457917
2017-03-31  187.473682
2017-04-30  188.748111
2017-05-31  190.108035
2017-06-30  191.201139
2017-07-31  191.768876
2017-08-31  192.013542
2017-09-30  192.303711
2017-10-31  192.746245
2017-11-30  193.252544
2017-12-31  193.557479

[516 rows x 50 columns]

### Here we now depict the pandas version of pickle :)

In [29]:
HPI_data.to_pickle('pickle.pickle')
HPI_data2 = pd.read_pickle('pickle.pickle')
print(HPI_data2)

                    AL          AK          AZ          AR          CA  \
Date
1975-01-31   35.695975   34.371830   28.937735   36.738861   15.722312
1975-02-28   35.896770   34.880945   29.463708   37.098962   15.775202
1975-03-31   36.133518   35.402217   29.959514   37.416398   15.964942
1975-04-30   36.425723   35.944703   30.345148   37.677813   16.275547
1975-05-31   36.695708   36.535272   30.546449   37.921099   16.533017
1975-06-30   36.823713   37.165797   30.496614   38.159640   16.646799
1975-07-31   36.747060   37.795450   30.173822   38.351084   16.768340
1975-08-31   36.511773   38.369702   29.662525   38.450073   16.989530
1975-09-30   36.255136   38.870586   29.128419   38.428010   17.230749
1975-10-31   36.139294   39.326955   28.828753   38.355341   17.447896
1975-11-30   36.247464   39.737259   28.941164   38.377787   17.596355
1975-12-31   36.592162   40.082874   29.318046   38.535310   17.725346
1976-01-31   37.138285   40.363154   29.704143   38.782622   17.908764
1976-02-29   37.756437   40.596136   29.996550   39.126083   18.117587
1976-03-31   38.276319   40.805885   30.171495   39.571310   18.379530
1976-04-30   38.596135   41.002975   30.239323   40.057999   18.673067
1976-05-31   38.740517   41.187715   30.235996   40.468693   18.899995
1976-06-30   38.797231   41.362367   30.205174   40.762886   19.131690
1976-07-31   38.856955   41.521685   30.199231   41.018576   19.429194
1976-08-31   38.918701   41.662983   30.238988   41.303581   19.725256
1976-09-30   38.958368   41.845067   30.305538   41.558711   20.001803
1976-10-31   39.018758   42.124701   30.458042   41.720393   20.297347
1976-11-30   39.159408   42.492789   30.688605   41.846132   20.656530
1976-12-31   39.316048   42.921262   30.870150   42.020453   21.011057
1977-01-31   39.393664   43.365812   30.977525   42.303965   21.378726
1977-02-28   39.416713   43.773119   31.098465   42.695391   21.859477
1977-03-31   39.450967   44.099249   31.332174   43.108400   22.440876
1977-04-30   39.609241   44.345888   31.624298   43.438706   23.016523
1977-05-31   39.921331   44.556381   31.875612   43.667636   23.612290
1977-06-30   40.340456   44.760697   32.192705   43.885294   24.210287
...                ...         ...         ...         ...         ...
2015-07-31  127.854262  175.091653  157.944488  133.701718  190.488116
2015-08-31  127.845969  175.514286  158.758281  134.312771  191.250750
2015-09-30  127.319078  175.476030  159.633744  134.697294  191.635366
2015-10-31  126.705007  175.123473  160.190802  134.645622  191.997776
2015-11-30  126.273111  174.850517  160.333155  134.201039  192.581842
2015-12-31  126.028940  174.694000  160.429528  133.595655  193.126772
2016-01-31  126.252948  174.563606  160.943495  133.108462  193.573002
2016-02-29  127.029795  174.653159  162.382325  133.131020  195.374776
2016-03-31  128.128436  175.146222  164.423535  133.875006  198.379875
2016-04-30  129.498282  176.039416  166.160234  135.042534  200.552706
2016-05-31  130.839220  177.015628  167.102940  136.229099  202.154601
2016-06-30  131.902611  177.488884  167.772063  137.253244  203.725125
2016-07-31  132.731896  177.187857  168.729972  137.861877  204.874817
2016-08-31  133.123014  176.366964  169.836520  137.962164  205.424770
2016-09-30  132.944681  175.461582  171.040902  137.792087  205.505700
2016-10-31  132.231221  174.851708  172.308486  137.488042  205.758167
2016-11-30  131.451951  174.614858  173.128501  137.319895  206.246715
2016-12-31  131.060867  174.607365  173.638863  137.493642  207.234460
2017-01-31  131.261240  174.851825  174.405886  137.827229  208.473088
2017-02-28  132.227038  175.522695  175.428697  138.329438  209.967934
2017-03-31  133.824067  176.550880  177.064431  139.192445  212.230372
2017-04-30  135.561296  177.793645  179.220426  140.314621  214.901573
2017-05-31  136.832165  178.999869  180.921174  141.510839  217.387092
2017-06-30  137.306662  179.910454  182.145258  142.714169  219.143801
2017-07-31  137.053164  180.471912  183.518737  143.620062  220.488530
2017-08-31  136.832464  180.767705  184.653324  143.883305  221.827303
2017-09-30  137.182469  180.863076  185.082101  143.810889  222.747758
2017-10-31  137.690921  180.642452  185.386919  143.815618  223.013716
2017-11-30  137.905915  180.191092  185.808730  143.715639  223.476329
2017-12-31  138.465286  180.140002  185.932453  143.535720  224.416791

                    CO          CT          DE          FL          GA  \
Date
1975-01-31   19.603977   24.369431   27.264842   30.997043   30.720917
1975-02-28   19.837138   24.908036   27.250734   32.229049   30.450593
1975-03-31   20.073483   25.313556   27.268478   34.027506   30.338265
1975-04-30   20.301864   25.541141   27.362673   36.218077   30.401314
1975-05-31   20.495075   25.614056   27.561893   36.437855   30.511355
1975-06-30   20.657610   25.593715   27.817379   34.782271   30.543940
1975-07-31   20.767493   25.562141   28.054119   33.559446   30.441559
1975-08-31   20.766267   25.561580   28.260091   33.003501   30.197666
1975-09-30   20.693247   25.603379   28.435083   32.874239   29.856041
1975-10-31   20.677437   25.692004   28.555244   32.987685   29.578801
1975-11-30   20.813599   25.869720   28.633600   33.226950   29.492202
1975-12-31   21.044355   26.106416   28.693510   33.389483   29.544696
1976-01-31   21.261114   26.322159   28.724852   33.380928   29.631292
1976-02-29   21.441256   26.475488   28.728540   33.404365   29.652625
1976-03-31   21.622061   26.567976   28.738149   33.940910   29.613906
1976-04-30   21.794533   26.638448   28.804320   35.152678   29.645420
1976-05-31   21.916109   26.726320   28.901931   35.469750   29.843175
1976-06-30   21.990101   26.872599   28.960602   34.602640   30.244098
1976-07-31   22.016767   27.077422   28.970655   34.002097   30.693745
1976-08-31   22.004561   27.236233   28.954171   33.893909   30.930348
1976-09-30   22.018000   27.294271   28.937931   34.010770   30.981477
1976-10-31   22.153648   27.346562   28.964190   34.129382   30.941422
1976-11-30   22.423172   27.384624   29.066797   34.202741   30.857225
1976-12-31   22.708559   27.324945   29.238302   34.057553   30.799051
1977-01-31   22.918908   27.234680   29.450361   33.562766   30.771985
1977-02-28   23.086883   27.207404   29.658821   32.868590   30.797931
1977-03-31   23.276302   27.297209   29.804030   32.992444   30.892610
1977-04-30   23.543649   27.605750   29.857762   34.760749   31.053601
1977-05-31   23.888232   28.101364   29.844638   35.967863   31.256062
1977-06-30   24.298073   28.641820   29.827604   35.507634   31.478734
...                ...         ...         ...         ...         ...
2015-07-31  156.409992  135.003216  151.879340  167.958473  123.334412
2015-08-31  156.823919  134.433330  151.825737  168.875805  123.576957
2015-09-30  156.960951  133.064906  151.956067  169.671476  123.857584
2015-10-31  157.103220  131.897223  152.414383  170.808945  124.119647
2015-11-30  157.024314  131.120324  153.091084  171.717982  124.186608
2015-12-31  157.329343  130.345378  153.587838  172.050554  124.304994
2016-01-31  158.668421  129.683540  153.780240  172.428224  124.642233
2016-02-29  160.916346  129.538163  153.835557  174.112903  125.355796
2016-03-31  163.810481  130.112376  154.034479  176.969746  126.787101
2016-04-30  166.832490  131.405100  154.482470  179.363828  128.916620
2016-05-31  169.503361  132.898431  154.924846  181.309947  130.835452
2016-06-30  171.405941  134.098245  155.254697  183.323405  131.894756
2016-07-31  172.481655  134.594061  155.417296  184.907395  132.490103
2016-08-31  172.906428  134.110790  155.231724  186.173544  132.668826
2016-09-30  173.035250  133.369966  154.728534  187.215818  132.669262
2016-10-31  173.194400  132.883861  154.138625  188.100468  132.768537
2016-11-30  173.341407  132.447694  153.660290  188.758560  132.768834
2016-12-31  174.042987  131.913690  153.215859  189.530763  132.754164
2017-01-31  175.822978  131.398494  152.988293  190.903528  133.098544
2017-02-28  178.360284  131.231176  153.403252  192.678481  134.083068
2017-03-31  181.160905  132.052608  154.676956  194.565440  135.793693
2017-04-30  183.686078  133.996680  156.429166  196.582167  138.033221
2017-05-31  185.776128  136.263447  158.092000  198.300880  139.949020
2017-06-30  187.490550  138.088309  159.645509  199.604161  141.039669
2017-07-31  188.574935  138.958521  160.924917  201.176755  141.672367
2017-08-31  188.890036  138.899318  161.484105  203.032387  141.979189
2017-09-30  189.247183  138.345405  161.214510  204.479775  141.952248
2017-10-31  189.973594  137.688445  160.357290  204.961848  142.181977
2017-11-30  190.468198  137.029819  159.215701  205.148540  143.061589
2017-12-31  191.251430  136.368886  158.169789  205.362563  143.590543

               ...              SD          TN          TX          UT  \
Date           ...
1975-01-31     ...       37.722210   32.179633   32.602350   24.698474
1975-02-28     ...       37.319634   32.218599   32.944116   25.060977
1975-03-31     ...       36.908861   32.296539   33.542975   25.381341
1975-04-30     ...       36.498238   32.416385   34.402826   25.627200
1975-05-31     ...       36.121328   32.563209   34.649755   25.782334
1975-06-30     ...       35.832126   32.732091   34.214012   25.820787
1975-07-31     ...       35.638746   32.912254   33.926084   25.749555
1975-08-31     ...       35.492686   33.099345   33.892530   25.652102
1975-09-30     ...       35.369164   33.332385   33.975850   25.631074
1975-10-31     ...       35.284393   33.673101   34.088819   25.802722
1975-11-30     ...       35.261565   34.120824   34.297688   26.178201
1975-12-31     ...       35.324867   34.520063   34.495964   26.596479
1976-01-31     ...       35.492003   34.699256   34.624718   26.970218
1976-02-29     ...       35.767903   34.658689   34.927336   27.314136
1976-03-31     ...       36.123462   34.557665   35.656681   27.609005
1976-04-30     ...       36.502661   34.569333   36.676904   27.858088
1976-05-31     ...       36.868201   34.654483   36.983259   28.052347
1976-06-30     ...       37.204916   34.671962   36.591101   28.167646
1976-07-31     ...       37.533083   34.661585   36.396803   28.286503
1976-08-31     ...       37.861522   34.715717   36.393828   28.440029
1976-09-30     ...       38.135807   34.820331   36.488809   28.561118
1976-10-31     ...       38.287887   34.939022   36.707659   28.677329
1976-11-30     ...       38.318752   35.060959   37.017606   28.881028
1976-12-31     ...       38.314555   35.209322   37.236711   29.205069
1977-01-31     ...       38.344135   35.433821   37.416779   29.577173
1977-02-28     ...       38.423939   35.771078   37.856734   29.951472
1977-03-31     ...       38.583187   36.203085   38.898027   30.362969
1977-04-30     ...       38.894363   36.670053   40.557091   30.833450
1977-05-31     ...       39.389798   37.108822   40.866864   31.331385
1977-06-30     ...       40.018917   37.537473   39.888819   31.806755
...            ...             ...         ...         ...         ...
2015-07-31     ...      156.580991  140.961479  166.253040  156.041122
2015-08-31     ...      157.039570  141.301527  166.384353  156.625646
2015-09-30     ...      157.320522  141.576657  166.486297  157.212501
2015-10-31     ...      157.601910  141.746760  166.950363  157.717839
2015-11-30     ...      157.804789  141.677283  167.216055  157.944342
2015-12-31     ...      158.014749  141.510377  167.301727  158.211716
2016-01-31     ...      158.325092  141.670952  167.994033  158.958460
2016-02-29     ...      158.684388  142.396341  169.660774  160.090283
2016-03-31     ...      159.198842  143.769820  171.383514  161.744070
2016-04-30     ...      159.992976  145.695744  173.101986  164.133025
2016-05-31     ...      161.215593  147.451023  175.157348  166.372582
2016-06-30     ...      162.768436  148.550006  176.676004  167.867304
2016-07-31     ...      164.147277  149.537520  177.610891  169.110488
2016-08-31     ...      165.064913  150.670563  178.443113  170.034755
2016-09-30     ...      165.348522  151.360770  179.043491  170.376254
2016-10-31     ...      164.777196  151.417398  179.179408  170.180918
2016-11-30     ...      163.673404  151.303897  178.934777  169.756719
2016-12-31     ...      162.826566  151.182317  178.927591  169.753153
2017-01-31     ...      162.769223  151.523608  180.030701  170.849721
2017-02-28     ...      163.566040  152.868708  181.822975  173.144218
2017-03-31     ...      165.180850  154.718965  183.875660  175.942719
2017-04-30     ...      167.404215  156.586808  186.668802  178.605611
2017-05-31     ...      169.704215  158.409044  188.985902  181.052319
2017-06-30     ...      171.570740  159.925040  189.875120  183.239131
2017-07-31     ...      172.671778  161.096595  190.183635  184.835160
2017-08-31     ...      172.997028  162.163547  190.405956  185.766048
2017-09-30     ...      172.877960  163.121526  190.747517  186.219039
2017-10-31     ...      172.697389  163.791413  191.001095  186.565591
2017-11-30     ...      172.365548  164.122714  191.157777  186.978663
2017-12-31     ...      172.062393  164.386018  191.614575  187.437632

                    VT          VA          WA          WV          WI  \
Date
1975-01-31   26.637620   27.912640   17.484315   41.002072   28.096764
1975-02-28   26.956271   28.205810   17.571053   42.040473   28.486170
1975-03-31   27.264731   28.420407   17.689717   43.122486   28.860737
1975-04-30   27.546568   28.578762   17.818792   44.239196   29.185048
1975-05-31   27.794738   28.717611   17.933277   45.363222   29.443523
1975-06-30   28.015188   28.859132   18.060595   46.434891   29.643096
1975-07-31   28.197133   29.053840   18.204860   47.374534   29.808953
1975-08-31   28.318131   29.245755   18.291957   48.123276   29.965614
1975-09-30   28.381090   29.299723   18.295879   48.624442   30.169332
1975-10-31   28.404311   29.241360   18.311491   48.844944   30.400019
1975-11-30   28.399731   29.147034   18.445463   48.851988   30.553751
1975-12-31   28.372971   29.043642   18.666300   48.756207   30.611019
1976-01-31   28.327242   28.966076   18.891872   48.641612   30.625870
1976-02-29   28.272025   29.012613   19.118606   48.590975   30.629882
1976-03-31   28.237516   29.197571   19.333061   48.632972   30.663396
1976-04-30   28.268887   29.426252   19.527588   48.709444   30.788789
1976-05-31   28.382876   29.670671   19.751452   48.757706   31.001631
1976-06-30   28.570714   29.883049   20.056070   48.750044   31.193881
1976-07-31   28.815406   30.025206   20.447975   48.684755   31.333897
1976-08-31   29.086216   30.188124   20.796144   48.596508   31.492695
1976-09-30   29.347313   30.353002   20.994394   48.535679   31.692007
1976-10-31   29.571743   30.464587   21.120745   48.520561   31.897835
1976-11-30   29.755778   30.575026   21.295105   48.563328   32.149092
1976-12-31   29.911694   30.666617   21.500396   48.696642   32.482108
1977-01-31   30.049640   30.741686   21.646051   48.947753   32.861943
1977-02-28   30.177715   30.875290   21.807327   49.306321   33.308601
1977-03-31   30.318482   31.092374   22.130020   49.755469   33.821916
1977-04-30   30.496645   31.353535   22.641429   50.300220   34.312509
1977-05-31   30.725822   31.656135   23.197444   50.879888   34.777626
1977-06-30   31.002979   31.995997   23.696735   51.405000   35.343133
...                ...         ...         ...         ...         ...
2015-07-31  166.977351  175.208724  171.715507  144.940038  127.066321
2015-08-31  166.931306  175.083077  172.634348  144.340557  127.091520
2015-09-30  166.312589  174.884369  173.077689  143.497835  126.830511
2015-10-31  165.433637  174.388030  173.703553  142.625716  126.614993
2015-11-30  164.508913  173.529003  174.419560  141.792450  126.423261
2015-12-31  163.750879  172.555924  174.944608  141.010233  125.795952
2016-01-31  163.270760  172.194878  176.039599  140.404463  125.257043
2016-02-29  163.115976  173.258149  178.599589  140.214876  125.748576
2016-03-31  163.420328  175.437539  181.944029  140.693011  127.282817
2016-04-30  164.366377  177.717105  185.147288  141.852391  129.212290
2016-05-31  165.667628  179.676544  187.923243  143.390083  131.204000
2016-06-30  166.947542  180.908437  190.137496  144.741295  133.077226
2016-07-31  167.977267  181.090826  191.804171  145.476349  134.244672
2016-08-31  168.363823  180.813071  192.752498  145.769855  134.523127
2016-09-30  167.929266  180.433431  193.007928  145.952914  134.286457
2016-10-31  167.044459  180.074502  193.035534  145.993389  133.977893
2016-11-30  166.299580  179.498081  193.437720  145.866178  133.277474
2016-12-31  166.037177  178.733383  194.598870  145.503670  132.395394
2017-01-31  166.456375  178.490562  196.425188  145.020938  132.220787
2017-02-28  167.550095  179.564152  199.497031  144.798504  132.799496
2017-03-31  169.003479  182.178128  204.099284  145.104852  134.307044
2017-04-30  170.668489  185.142679  208.832183  145.852604  136.736984
2017-05-31  172.628029  187.218160  212.681252  146.651677  139.127902
2017-06-30  174.593408  188.194294  215.515155  147.210051  140.945374
2017-07-31  175.832939  188.568619  216.832218  147.406003  141.917765
2017-08-31  175.997419  188.244928  217.172701  147.276040  141.929765
2017-09-30  175.630815  187.473673  217.666449  147.000202  141.704092
2017-10-31  175.438235  186.848096  218.375552  146.961577  141.524015
2017-11-30  175.451073  186.309152  219.358413  147.220056  141.158985
2017-12-31  175.676196  185.522033  220.553276  147.220398  140.521333

                    WY
Date
1975-01-31   31.668794
1975-02-28   32.161920
1975-03-31   32.680525
1975-04-30   33.210124
1975-05-31   33.714128
1975-06-30   34.179561
1975-07-31   34.611141
1975-08-31   34.997927
1975-09-30   35.324392
1975-10-31   35.564002
1975-11-30   35.719948
1975-12-31   35.823018
1976-01-31   35.909297
1976-02-29   36.027093
1976-03-31   36.205274
1976-04-30   36.448181
1976-05-31   36.776850
1976-06-30   37.232642
1976-07-31   37.805035
1976-08-31   38.417253
1976-09-30   39.032822
1976-10-31   39.656983
1976-11-30   40.240418
1976-12-31   40.708418
1977-01-31   41.069726
1977-02-28   41.390569
1977-03-31   41.709548
1977-04-30   42.040222
1977-05-31   42.410106
1977-06-30   42.887022
...                ...
2015-07-31  187.178331
2015-08-31  187.544553
2015-09-30  187.008391
2015-10-31  185.978325
2015-11-30  184.724181
2015-12-31  183.614896
2016-01-31  183.051448
2016-02-29  183.203686
2016-03-31  184.028248
2016-04-30  185.243552
2016-05-31  186.365183
2016-06-30  187.224531
2016-07-31  187.908365
2016-08-31  188.408497
2016-09-30  188.456565
2016-10-31  187.794019
2016-11-30  186.762479
2016-12-31  185.998820
2017-01-31  185.888657
2017-02-28  186.457917
2017-03-31  187.473682
2017-04-30  188.748111
2017-05-31  190.108035
2017-06-30  191.201139
2017-07-31  191.768876
2017-08-31  192.013542
2017-09-30  192.303711
2017-10-31  192.746245
2017-11-30  193.252544
2017-12-31  193.557479

[516 rows x 50 columns]