In [4]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [6]:
df1

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55

In [7]:
df2

      HPI  Int_rate  US_GDP_Thousands
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

In [8]:
df3

      HPI  Int_rate  Low_tier_HPI
2001   80         2            50
2002   85         3            52
2003   88         2            50
2004   85         2            53

In [9]:
concat12 = pd.concat([df1, df2])
concat12

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

In [10]:
concat13 = pd.concat([df1, df3])
concat13

c:\users\kamal dev sharma\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

      HPI  Int_rate  Low_tier_HPI  US_GDP_Thousands
2001   80         2           NaN              50.0
2002   85         3           NaN              55.0
2003   88         2           NaN              65.0
2004   85         2           NaN              55.0
2001   80         2          50.0               NaN
2002   85         3          52.0               NaN
2003   88         2          50.0               NaN
2004   85         2          53.0               NaN

In [11]:
concat_all = pd.concat([df1, df2, df3])
concat_all

c:\users\kamal dev sharma\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

      HPI  Int_rate  Low_tier_HPI  US_GDP_Thousands
2001   80         2           NaN              50.0
2002   85         3           NaN              55.0
2003   88         2           NaN              65.0
2004   85         2           NaN              55.0
2005   80         2           NaN              50.0
2006   85         3           NaN              55.0
2007   88         2           NaN              65.0
2008   85         2           NaN              55.0
2001   80         2          50.0               NaN
2002   85         3          52.0               NaN
2003   88         2          50.0               NaN
2004   85         2          53.0               NaN

In [12]:
df4 = df1.append(df3)
df4

c:\users\kamal dev sharma\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

      HPI  Int_rate  Low_tier_HPI  US_GDP_Thousands
2001   80         2           NaN              50.0
2002   85         3           NaN              55.0
2003   88         2           NaN              65.0
2004   85         2           NaN              55.0
2001   80         2          50.0               NaN
2002   85         3          52.0               NaN
2003   88         2          50.0               NaN
2004   85         2          53.0               NaN

In [74]:
import pandas as pd

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2003, 2004, 2005])

In [75]:
print(pd.merge(df1, df2, on = ["HPI", "Int_rate"]))

   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55

In [76]:
# df1.set_index("HPI", inplace = True)
# df2.set_index("HPI", inplace = True)
joined = df1.join(df2, how = 'left', lsuffix = "_left")
print(joined)

      HPI_left  Int_rate_left  US_GDP_Thousands_left  HPI  Int_rate  \
2001        80              2                     50  NaN       NaN
2002        85              3                     55  NaN       NaN
2003        88              2                     65  NaN       NaN
2004        85              2                     55  NaN       NaN

      US_GDP_Thousands
2001               NaN
2002               NaN
2003               NaN
2004               NaN

In [77]:
print(pd.merge(df1, df3, on = "HPI"))

   HPI  Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
0   80         2                50             7            50
1   85         3                55             8            52
2   85         3                55             6            53
3   85         2                55             8            52
4   85         2                55             6            53
5   88         2                65             9            50

In [78]:
df1.set_index("HPI", inplace = True)
df3.set_index("HPI", inplace = True)
print(df1.join(df3))

     Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
HPI
80          2                50             7            50
85          3                55             8            52
85          3                55             6            53
85          2                55             8            52
85          2                55             6            53
88          2                65             9            50

In [99]:
import pandas as pd

df1 = pd.DataFrame({'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55],
                   'index' : [2001, 2002, 2003, 2004]})

df3 = pd.DataFrame({'Unemployment':[7, 8, 9, 6],
                    
                    'Low_tier_HPI':[50, 52, 50, 53],
                   "index" : [2001, 2003, 2004, 2005]})
df1.set_index('index', inplace = True)
df3.set_index("index", inplace = True)
print(pd.merge(df1, df3, on = 'index'))

       Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
index
2001          2                50             7            50
2003          2                65             8            52
2004          2                55             9            50

In [101]:
print(pd.merge(df1, df3, on = 'index', how = "left"))

       Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
index
2001          2                50           7.0          50.0
2002          3                55           NaN           NaN
2003          2                65           8.0          52.0
2004          2                55           9.0          50.0

In [102]:
print(pd.merge(df1, df3, on = 'index', how = "right"))

       Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
index
2001        2.0              50.0             7            50
2003        2.0              65.0             8            52
2004        2.0              55.0             9            50
2005        NaN               NaN             6            53

In [104]:
print(pd.merge(df1, df3, on = 'index', how = "outer"))

       Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
index
2001        2.0              50.0           7.0          50.0
2002        3.0              55.0           NaN           NaN
2003        2.0              65.0           8.0          52.0
2004        2.0              55.0           9.0          50.0
2005        NaN               NaN           6.0          53.0

In [105]:
print(pd.merge(df1, df3, on = 'index', how = "inner"))

       Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
index
2001          2                50             7            50
2003          2                65             8            52
2004          2                55             9            50

In [106]:
print(df1.join(df3, on = 'index', how = "outer"))

       Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
index
2001        2.0              50.0           7.0          50.0
2002        3.0              55.0           NaN           NaN
2003        2.0              65.0           8.0          52.0
2004        2.0              55.0           9.0          50.0
2005        NaN               NaN           6.0          53.0

In [107]:
print(pd.merge(df1, df3, on = 'index', how = "left"))

       Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
index
2001          2                50           7.0          50.0
2002          3                55           NaN           NaN
2003          2                65           8.0          52.0
2004          2                55           9.0          50.0

### Some useful references on  Merging and Joining 
https://www.mydatahack.com/datastage-join-vs-lookup-vs-merge/
https://www.ibm.com/support/knowledgecenter/en/SSZJPZ_11.7.0/com.ibm.swg.im.iis.ds.parjob.dev.doc/topics/c_deeref_Merge_Stage.html
https://www.tutorialspoint.com/dbms/database_joins.htm